@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;500;600;700;800&family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,500;1,600;1,700&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    font-family: 'PT Sans', sans-serif;
    padding: 0px;
    margin: 0px;
    scroll-behavior: smooth;
    box-sizing: border-box;
    text-decoration: none;
    /* list-style: none; */

}

:root {
    --redColor: #ff274b;
    --ligtpink: #f7bcf7;
    --black: #171a1c;
    --lightBlack: #22282a;
    --greenColor: rgb(102, 255, 102);
    --whiteColor: #f0f0f0e7;
}

:root {
    --redColor: #fb526e;
    --ligtpink: #f7bcf7;
    --black: #171a1c;
    --lightBlack: #22282a;
    --greenColor: rgb(135, 236, 135);
}

header {
    width: 100%;
    padding: 5px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    position: fixed;
    z-index: 999;

}

header ul {
    display: flex;
    align-items: center;
    list-style: none;

}

header ul li a {
    padding-left: 12px;
    font-size: 13px;
    text-transform: capitalize;
    color: var(--ligtpink);
    color: var(--ligtpink);


}


.main {
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--lightBlack);
    padding: 12.5px 20px;
    background-color: black;

}

.main h2 {
    margin: 12.5px;
}

header .logo a {
    color: var(--redColor);
    display: flex;
    letter-spacing: 1px;
    text-transform: uppercase;

}

.logo span {
    color: var(--greenColor);
    padding-left: 10px;
}

/* header ul li ::after {
    content: '';
    width: 0%;
    height: 2px;
    display: block;
    background: var(--redColor);
    margin: auto;
    transition: 0.5s;


}

header ul li:hover ::after {
    width: 100%;
} */
header ul li a {
    padding: 1px 10px;
}

header ul li a {
    transition: 0.5s;
    margin-left: 3px;
    border-radius: 13px;
}

header ul li a:hover,
.active {
    background-color: var(--redColor);

}

.main .content1 {
    position: absolute;
    padding: 180px 35px;
    color: rgba(255, 255, 255, 0.927);
    text-align: center;
    margin-top: 0px;

}


.img {
    display: flex;
    padding-left: 600px;
    padding-bottom: 90px;
    right: 40px;

}

.img img {
    width: 200px;
    height: 250px;
    border-radius: 35px;
    margin-bottom: 50px;
}

.content1 h1 {
    font-size: 20px;
}

.content1 .hello {
    color: var(--redColor);
}

.content1 h1 span {

    font-size: 35px;

}

.content1 .iam {
    font-size: 25px;
    color: var(--greenColor);
}

.content1 h2 {
    font-size: 22px;
    text-transform: lowercase;
}

.content1 .btn {
    margin-top: 65px;

}

.content1 .btn a {
    /* background: white; */
    /* color: rgb(50, 255, 94); */
    position: absolute;
    color: var(--greenColor);
    color: darkred;
    color: var(--greenColor);
    border-radius: 15px;
    border-radius: 50%;
    padding: 7px;
    font-size: 17.5px;
    font-weight: bold;
    display: flex;
    margin-left: 120px;
    transition: 0.5s ease;
    /* background-color: rgb(253, 235, 238); */

}

.btn :hover {
    background-color: var(--ligtpink);
    background-color: var(--redColor);

}

.content1 .a1 {
    color: var(--redColor);
    font-weight: 900;
}

.content1 .a2 {
    color: var(--greenColor);
    font-weight: 900;
}

body {
    /* height: 2800px; */
}

.up {
    position: fixed;
    bottom: 10px;
    right: -150px;
    cursor: pointer;
    font-size: 25px;
    font-weight: 800;
}

.up.show {
    right: 15px;
}

.second {
    height: 100vh;
    width: 100%;
    background-image: url(background/Samsung\ A50\ Gold.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 70px;


}

section .second,
.aboutMe,
.notrelated {
    /* color: var(--greenColor); */
    color: white;
    width: 300px;
    height: 300px;
    background-color: rgb(134, 56, 56);
    border-radius: 30px;
    /* text-align: center; */
    align-items: center;
    padding: 15px;

}

section .notrelated ul li {
    align-items: center;
    margin: 5px;
    margin-left: 15px;
}

.notrelated .entry {

    letter-spacing: 1px;
    font-weight: bold;
}