@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;500;600;700;800&family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,500;1,600;1,700&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    font-family: 'PT Sans', sans-serif;
    padding: 0px;
    margin: 0px;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

:root {
    --redColor: #ff274b;
    --ligtpink: #f7bcf7;
    --black: #171a1c;
    --lightBlack: #22282a;
    --greenColor: rgb(102, 255, 102);
}


.main {
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    background: var(--lightBlack);
    background: black;
    padding: 12.5px 20px;

}

.main a {
    color: white;
    text-decoration: none;


}

.main ul {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.main ul li {
    list-style: none;
    margin: 12.5px;


}

.main h2 {
    text-transform: uppercase;

}

.main nav a {
    text-transform: capitalize;
    font-size: 0.8em;
    font-weight: 800;
    color: var(--greenColor);


}

.main h2 {
    margin: 12.5px;
}

.main .logo a {
    color: var(--redColor);

}

.logo span {
    color: var(--greenColor);
}

.main ul li ::after {
    content: ' ';
    width: 0%;
    height: 2px;
    display: block;
    background: var(--redColor);
    margin: auto;
    transition: 0.5s;

}

.main ul li:hover ::after {
    width: 100%;
}

.content1 {
    color: white;
    position: fixed;
    bottom: 50px;
    display: block;
    padding-bottom: 100px;
    padding-left: 80px;
}