@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;500;600;700;800&family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,500;1,600;1,700&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    font-family: 'PT Sans', sans-serif;
    padding: 0px;
    margin: 0px;
    scroll-behavior: smooth;
    box-sizing: border-box;
    text-decoration: none;
    /* list-style: none; */

}

:root {
    --redColor: #fb526e;
    --ligtpink: #f7bcf7;
    --black: #171a1c;
    --lightBlack: #22282a;
    --greenColor: rgb(135, 236, 135);
    --greenColor: rgb(102, 255, 102);
    --whiteColor: #f0f0f0e7;
}

header {
    width: 100%;
    padding: 5px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    position: fixed;
    z-index: 999;

}

header ul {
    display: flex;
    align-items: center;
    list-style: none;

}

header ul li a {
    padding-left: 12px;
    font-size: 13px;
    text-transform: capitalize;
    color: var(--ligtpink);
    color: var(--ligtpink);


}


.main {
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--lightBlack);
    padding: 12.5px 20px;
    background-color: black;
    background-color: #000016;
    flex-direction: row;
}

.main h2 {
    margin: 12.5px;
}

header .logo a {
    color: var(--redColor);
    display: flex;
    letter-spacing: 1px;
    text-transform: uppercase;

}

.logo span {
    color: var(--greenColor);
    padding-left: 10px;
}

/* header ul li ::after {
    content: '';
    width: 0%;
    height: 2px;
    display: block;
    background: var(--redColor);
    margin: auto;
    transition: 0.5s;


}

header ul li:hover ::after {
    width: 100%;
} */
header ul li a {
    padding: 1px 10px;
}

header ul li a {
    transition: 0.5s;
    margin-left: 3px;
    border-radius: 13px;
}

header ul li a:hover,
.active {
    background-color: var(--redColor);

}

.main .content1 {
    position: absolute;
    padding: 180px 35px;
    color: rgba(255, 255, 255, 0.927);
    text-align: center;
    margin-top: 0px;

}


.img {
    display: flex;
    padding-left: 600px;
    padding-bottom: 90px;
    right: 40px;

}

.img img {
    width: 250px;
    height: 250px;
    border-radius: 35px;
    margin-bottom: 50px;
}

.content1 h1 {
    font-size: 20px;
}

.content1 .hello {
    color: var(--redColor);
}

.content1 h1 span {

    font-size: 35px;

}

.content1 .iam {
    font-size: 25px;
    color: var(--greenColor);
}

.content1 h2 {
    font-size: 22px;
    text-transform: lowercase;
}

.content1 .btn {
    margin-top: 65px;

}

.content1 .btn a {
    position: absolute;
    color: #000016;
    border-radius: 15px;
    border-radius: 10px;
    padding: 10px;
    font-size: 12.5px;
    font-weight: bold;
    display: flex;
    margin-left: 120px;
    transition: 0.5s ease;
    background-color: var(--ligtpink);
    transition: 0.5s ease;

}

.content1 .btn a:hover {
    /* transform: scale(1.1); */
    color: #ff274b;

}

.btn :hover {
    /* background-color: var(--ligtpink); */
    /* background-color: var(--redColor); */
    /* color: #ff274b; */
}

.content1 .a1 {
    color: var(--redColor);
    font-weight: 900;
}

.content1 .a2 {
    color: var(--greenColor);
    font-weight: 900;

}

body {
    /* height: 2800px; */
}

.up {
    position: fixed;
    bottom: 10px;
    right: -150px;
    cursor: pointer;
    font-size: 25px;
    font-weight: 800;
    color: #f0f0f0;
    background-color: var(--lightBlack);
    border-radius: 10px;
    padding: 2.5px;
    font-weight: bold;
}

.up.show {
    right: 15px;
}

.second {
    height: 100vh;
    width: 100%;
    background-image: url(background/Samsung\ A50\ Gold.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 70px;


}

.aboutTitle {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
    position: absolute;
    padding-left: 330px;

}

.aboutTitle .a2 {
    color: rgb(134, 56, 56);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-stretch: expanded;
    font-size: xx-large;


}

.aboutTitle .m2 {
    color: rgb(134, 56, 56);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-stretch: expanded;
    font-size: xx-large;

}

.second .aboutTitle {
    position: absolute;
    top: 35px;
    display: flex;
    padding-top: 30px;
    padding-bottom: 80px;
    margin-top: 425px;
    align-items: center;

}

.second .aboutTitle {
    /* letter-spacing: 2px; */
    font-family: serif;
    line-height: 1.7;

}

.second .aboutTitle .me {
    margin-left: 10px;
}

section .second,
.aboutMe,
.notrelated {
    color: white;
    width: 300px;
    height: 300px;
    background-color: rgb(134, 56, 56);
    border-radius: 30px;
    padding: 15px;
    margin-top: 50px;

}

section .notrelated ul li {
    align-items: center;
    margin: 5px;
    margin-left: 15px;
}

.google {
    color: rgb(14, 8, 83);
    font-weight: bold;
}

.r {
    color: rgb(14, 8, 83);
    font-weight: bold;
    padding-right: 10px;
}

.notrelated .entry {
    letter-spacing: 1px;
    font-weight: bold;
}

.projects {
    height: 100vh;
    width: 100%;
    /* background-color: var(--lightBlack); */
    background-color: rgb(171, 168, 168);
    background-position: center;
    background-size: cover;
}

.projects .title {
    font-size: 30px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
    color: blue;
    margin-bottom: 30px;
}

.projects .title .just {
    color: rgb(3, 3, 154);
    color: white;
    padding-left: 5px;
    font-size: 15px;
    margin-left: 10px;
}

.projects .cardProj {
    width: 200px;
    height: 210px;
    box-shadow: 0px 5px 10px rgb(33, 30, 134);
    display: inline-block;
    flex-direction: row;
    margin: 25px 46px;
    border-radius: 50%;
}

.projects .cardProj img {
    transition: 0.8s ease;

}

.cardProj img:hover {
    transform: scale(1.1);
    transform: rotate(360deg);
}

.projects .h5 {
    display: flex;
    justify-content: space-between;
    color: rgb(12, 12, 194);
    font-size: 20px;

}

.h5 .port {
    padding-left: 120px;
}

.h5 .scho {
    padding-right: 150px;
}

.cardProj .portfolio {
    width: 200px;
    height: 210px;
    border-radius: 50%;
}

.cardProj .university {
    width: 200px;
    height: 210px;
    border-radius: 50%;
}

.cardProj .school {
    width: 200px;
    height: 210px;
    border-radius: 50%;
}

/* ============> */

.footer {
    background-color: rgb(0, 0, 0);
    background-color: white;
    position: relative;
    opacity: 0.7;
    height: 100vh;

}

.contact .form {
    padding-bottom: 5px;
}

.content-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    padding-top: 60px;
}

.content-icons textarea {
    margin-top: 10px;
}

.content-icons .happy {
    color: #ffffff;
    margin-bottom: 20px;
}

.social-icon i {
    color: #f0f0f0;
    font-size: 25px;
    padding-left: 10px;
}

.footer {
    background-color: var(--lightBlack);
}

.footer h4 {
    color: white;
    position: absolute;
    bottom: 20px;
    padding-left: 5px;
    font-size: 12.5px;
}